<?php

return new \Phalcon\Config(array(
    'database' => array(
        'adapter'     => 'Mysql',
        'host'        => 'localhost',
        'username'    => 'username',
        'password'    => 'password',
        'dbname'      => 'dbname',
    ),
    'application' => array(
        'cacheDir'       => __DIR__ . '/../../app/cache/',
        'baseUri'        => '/',
    ),
    'namespaces' => array(
        'Critics\Controller'   => __DIR__ . '/../../app/library/controller',
        'Critics'               => __DIR__ . '/../../app/library',
    )
));
